body {
  background-color: black;
  color: white;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

p {
  color: gray;
  font-size: 21px;
}
